<section class=" bg-gray-100 mt-20 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-10 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">Quienes somos</h2>
        </div>
        <div class="sm:flex justify-center p-12 gap-10">
            <div class="sm:w-2/5">
                <h2 class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white">Dr. Enrique Espejo</h2>
                <p>Con una sólida formación en odontología desde la Universidad Alfonso X el Sabio en Madrid (2008), seguí especializándome a través de cursos de experto en Endodoncia en Sevilla (2009) y en cirugía y prótesis sobre implantes en Almería (2012). Profundicé mi expertise con un máster en Cirugía e Implantes en Vericat, Valencia (2020), consolidando una trayectoria destacada en el campo dental. Un compromiso con la excelencia y la innovación en la atención odontológica.</p>
                <img src="/public/img/doctor.jpg" class="w-32 h-32 mx-auto sm:my-6 my-10 rounded-full" alt="">
            </div>

            <div class="sm:w-2/5">
                <h2 class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white">Dra. Ana Igual</h2>
                <p>Graduada en Odontología por la Universidad Alfonso X el Sabio, Madrid, en 2011, mi camino en la especialización dental comenzó pronto. En 2012, completé un curso de experto en ortodoncia fija, seguido de un máster en Ortodoncia y Ortopedia Dentofacial en la Universidad de Alcalá, Madrid, en 2014. La evolución hacia técnicas más avanzadas y estéticas me llevó a obtener un máster en Ortodoncia Invisible y la certificación Invisalign en 2020, en Madrid.</p>
                <img src="/public/img/doctora.jpg" class="w-32 h-32 mx-auto sm:my-6 my-10 rounded-full" alt="">
            </div>
        </div>
    </div>
</section>