<section class=" bg-gray-100 mt-20 dark:bg-gray-900">
    <div class="py-12 px-4 mx-auto max-w-screen-xl sm:py-12 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">Quienes somos</h2>
            <p class="font-light text-gray-500 dark:text-gray-400 md:text-lg">Conocenos más a fondo.</p>
        </div>
        <div class="sm:flex justify-center p-12 gap-10">
            <div class="sm:w-2/5">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed eligendi eius consequuntur libero eaque, dolores aut nihil laborum vel iste vero magnam excepturi adipisci expedita mollitia minima iusto earum autem.</p>
                <img src="/public/img/male-placeholder.jpeg" class="w-32 h-32 mx-auto my-6 rounded-full" alt="">
            </div>

            <div class="sm:w-2/5">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed eligendi eius consequuntur libero eaque, dolores aut nihil laborum vel iste vero magnam excepturi adipisci expedita mollitia minima iusto earum autem.</p>
                <img src="/public/img/male-placeholder.jpeg" class="w-32 h-32 mx-auto my-6 rounded-full" alt="">
            </div>
        </div>
    </div>
</section>