<div class="flex flex-wrap gap-10 mx-auto w-screen justify-center mt-14">
    <div class="max-w-xs bg-white border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        
            <img class="rounded-t-lg" src="/src/img/card_1.jpg" alt="Implantologia" />
        
        <div class="p-5">
            
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Implantología</h5>
            
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Trabajamos con las ultimas novedades en diagnostico 3d para planificar sus cirugías.</p>
            
        </div>
    </div>
    
    <div class="max-w-xs bg-white border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        
            <img class="rounded-t-lg" src="/src/img/card_2.jpg" alt="Ortodoncia" />
        
        <div class="p-5">
            
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ortodoncia</h5>
            
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Trabajamos la ortodoncia en todas las edades. Además trabajamos con Invisalign, la ortodoncia invisible líder del mercado.</p>
            
        </div>
    </div>
    
    <div class="max-w-xs bg-white border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        
            <img class="rounded-t-lg" src="/src/img/card_3.jpg" alt="Ortodoncia Infantil" />
        
        <div class="p-5">
            
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ortodopedia</h5>
            
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Realizamos correcciónes de los dientes y huesos de la boca mal colocados mediante aparatos fijos (brackets), removibles o retenedores</p>
            
        </div>
    </div>
    
</div>